/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.cabezal {
    background-color: chartreuse;
}

.cuerpo {
    background-color: darkturquoise;
}

.boton {
    background-color: lightgray;
}

body {
    background-color: rgba(48, 44, 44, 0.993);
}